<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.generator.mapper.MenuInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.generator.entity.MenuInfo">
        <id column="serial_no" property="serialNo" />
        <result column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="menu_en_name" property="menuEnName" />
        <result column="menu_level" property="menuLevel" />
        <result column="route_url" property="routeUrl" />
        <result column="leaf_node" property="leafNode" />
    </resultMap>

</mapper>
